.highlight-wrapper {
  display: block;
}

.highlight-wrapper .lntd pre {
  padding: 0;
}

.chroma .lntd pre {
  border: 0px solid #ccc;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 30px;
  padding-bottom: 18px;
}

.highlight {
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 25px 0px 40px 0px;
  border-radius: 4px;
}

.highlight>.chroma {
  font-size: 90%;
  line-height: 25px;
  /* padding-left: 40px; */
  margin-bottom: 0px;
  position: static;
  z-index: 1;
  border-radius: 0px 0px 0px 0px;
  overflow: auto;
  padding-left: 0px;
}

.highlight pre {
  margin: 0;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: .01;
}

.chroma [data-lang]:before {
  position: absolute;
  z-index: 0;
  line-height: 17px;
  top: -17px;
  left: 0;
  /* content: attr(data-lang); */
  font-size: 12px;
  color: #999999;
  background-color: #0F0F0F;
  padding: 0px 3px 0px 3px;
  border-radius: 2px 2px 0px 0px;
  letter-spacing: 0.5px;
  opacity: 0.9;
}

.copy-code-button1 {
  position: absolute;
  z-index: 2;
  left: -32px;
  top: 42px;
  line-height: 10px;
  font-size: 13px;
  letter-spacing: 0.5px;
  width: 48px;
  color: white;
  background-color: #ffff0022;
  border: 1.25px solid #232326;
  border-radius: 4px 4px 4px 4px;
  white-space: nowrap;
  padding: 5px 6px 7px 6px;
  cursor: pointer;
}

.copy-code-button {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;
  line-height: 10px;
  font-size: 13px;
  letter-spacing: 0.5px;
  width: 68px;
  color: white;
  background-color: #51515166;
  border: 1.25px solid #232326;
  border-radius: 4px 4px 4px 4px;
  white-space: nowrap;
  padding: 5px 6px 7px 6px;
  cursor: pointer;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #999999;
}

.copy-code-button:active {
  background-color: green;
}

@media (max-width: 500px) {
  .copy-code-button {
    display: none;
  }
}

.light .copy-code-button {
  border-color: transparent;
}

.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"]::before {
  color: white;
  text-transform: uppercase;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}

.highlight pre code[class=language-html]::before,
.highlight pre code[class="language-html"]::before {
  content: "html";
  background: #E96228;
  color: white;
}

.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: #f71e6a;
  color: white;
}

/* .highlight pre code[class*='language-shell']::before, */
/* .highlight pre code[class*='language-bash']::before, */
/* .highlight pre code[class*='language-sh']::before { */
/*   content: 'shell'; */
/*   background: #0F0F0F; */
/*   color: white */
/* } */

.highlight pre code[class*='language-json']::before {
  content: 'json';
  background: dodgerblue;
  color: #000000
}

.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background: blue;
  color: yellow;
}

.highlight pre code[class*='language-css']::before {
  content: 'css';
  background: #34AFDC;
  color: white;
}

.highlight pre code[class*='language-go']::before {
  content: 'Go';
  background: #6FD8E6;
  color: #080808;
}

.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before {
  content: 'Markdown';
  background: royalblue;
  color: whitesmoke;
}
