  .tag-javascript,
  .tag-js {
    background: #f0db4f;
    color: black;
  }

  .tag-typescript {
    background: #2775c3;
    color: white;
  }

  .tag-python {
    color: #ffda5d;
    background: #3879ab;
  }

  .tag-cyber {
    color: #34D149;
    background: #000000;
  }

  .tag-css {
    color: #000000;
    background: #2862E9;
  }

  .tag-html {
    color: #E4E4E4;
    background: #E96228;
  }

  .tag-github {
    color: #fff;
    background: #24292e;
  }

  .tag-docker {
    color: #ffffff;
    background: #2496ed;
  }

  .tagsList {
    margin-top: 100px;
    width: 80%;
    margin-right: 0%;
    margin-left: 5%;
    height: 70vh;
  }

  .tag-name {
    display: inline-block;
    flex-direction: row;
    color: green;
  }

  .tag-label {
    display: row;
    align-content: center;
    align-items: center;
  }

  .tagTitle {
    display: flex;
    flex-direction: row;
    display: inline-block;
    /* margin-bottom: 6px; */
  }

  .tagItemTitle {
    margin-right: 6px;
    background-color: black;
    border: 2px solid #7C0000;
    display: inline-block;
    text-decoration: none;
    padding: 6px;
    font-size: 20px;
    width: auto;
    gap: 20px;
    color: #D8D8D9;
  }

  .tagItemTitle:hover {
    border-color: darkgreen;
    color: #99C794;
  }

  .light .tagItemTitle {
    color: white;
  }

  .light .tagItemTitle:hover {
    color: #99C794;
    font-family: sans, serif;
  }

  .tag-page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
  }
